<h1><%= @cocktail.name %></h1>
<p><% @cocktail.doses.each do |d| %></p>
<p><%= d.description %></p>
<p><%= d.ingredient.name %></p>
<%= link_to "delete dose", dose_path(d), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
<p><% end %></p>
<%= link_to "add dose", new_cocktail_dose_path(@cocktail)  %>
<%= link_to "See all drinks", cocktails_path  %>
