<div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.2) 50%), url('<%= @cocktail.photo? ? (cl_image_path @cocktail.photo.path, width: 500, height: 500, crop: :fill) : (image_tag 'coffee-placeholder.jpg') %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-4"></div>
     <div class="card-show" style="background-color: white; margin: 0 20px;">
      <h2>Ingredients</h2>
        <p><% @cocktail.doses.each do |d| %></p>
        <p><%= d.description + " " + d.ingredient.name + " " %>
        <%= link_to "x", dose_path(d), method: :delete, data: { confirm: "Are you sure you want to delete?"} %></p>
        <p><% end %></p>
        <%= link_to "add dose", new_cocktail_dose_path(@cocktail), class: "card-show-link"  %><br>
        <%= link_to "see all", cocktails_path, class: "card-show-link", style: "color: white;"  %>
      </div>
    </div>
  </div>
</div>




